@import url("https://fonts.googleapis.com/css2?family=Catamaran&family=Noto+Sans&display=swap");

body {
    background-color: #222426;
    font-family: "Catamaran", sans-serif;
    color: #deebff;
}

h1 {
    font-size: 36px;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.submit-input::file-selector-button {
    background: #11491b;
    height: 40px;
    width: 100px;
    padding: 5px 10px;
    border-radius: 5px;
    transition: 0.4s;
    margin: 20px 10px;
    border: none;
    font-family: "Catamaran", sans-serif;
    color: #deebff;
    font-size: 16px;
}

.submit-input::file-selector-button:hover {
    cursor: pointer;
    background: #cff8d6;
    color: black;
}

.submit-btn {
    background: #181149;
    height: 40px;
    width: 100px;
    padding: 5px 10px;
    border-radius: 5px;
    transition: 0.4s;
    margin: 20px 40px;
    font-family: "Catamaran", sans-serif;
    color: #deebff;
    font-size: 16px;
    border: none;
}

.submit-btn:hover {
    cursor: pointer;
    background: #d7cff8;
    color: black;
}

.sketch-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sketch-img {
    max-height: 70vh;
    max-width: 70vw;
    border-radius: 10px;
}

.down-btn {
    background: #113e49;
    height: 40px;
    width: 200px;
    padding: 5px 10px;
    border-radius: 5px;
    transition: 0.4s;
    margin: 20px 40px;
    font-family: "Catamaran", sans-serif;
    color: #deebff;
    font-size: 16px;
    border: none;
}

.down-btn:hover {
    cursor: pointer;
    background: #cff5f8;
    color: black;
}

.back-btn {
    background: #491119;
    height: 40px;
    width: 100px;
    padding: 5px 10px;
    border-radius: 5px;
    transition: 0.4s;
    margin: 20px 40px;
    font-family: "Catamaran", sans-serif;
    color: #deebff;
    font-size: 16px;
    border: none;
}

.back-btn:hover {
    cursor: pointer;
    background: #f8cfd7;
    color: black;
}
